<div class="bg-blue-100 rounded-lg shadow flex flex-col gap-4 p-8 w-87.5">
  <app-input
    (input)="onInputHandler($event)"
    label="Todo"
    placeholder="What do you have to do?"
  ></app-input>
  <button
    class="w-full h-10 rounded shadow bg-blue-500 text-white font-semibold"
    (click)="submitTodo(text)"
  >
    To do!
  </button>
  @if (store.todos().length) {
    <div class="w-full flex flex-col text-blue-900">
      <p>Your todos</p>
      <ul class="w-full flex flex-col gap-4">
        @for (todo of store.todos(); track todo.id) {
          <li class="flex items-center gap-2" (click)="store.toggleTodo(todo.id)">
            <input
              type="checkbox"
              [name]="todo.title"
              [id]="todo.id"
              [checked]="todo.completed"
              class="appearance-none h-4 w-4 rounded-full border border-blue-500 bg-white checked:bg-blue-500"
            />
            <span [class]="{ 'line-through': todo.completed }">
              {{ todo.title }}
            </span>
          </li>
        }
      </ul>
    </div>
  }
</div>
